/**
* This is the main CSS file. All implementations should be done here.
* 
*/

/** Variables section declaration */
:root {
    --color-beige: #F4F1DC;
    --color-sinopia: #CE4B26;
    --color-independence: #3C3F5D;
    --color-green-sheen: #7FB39A;
    --color-deep-champagne: #F2CB8D;

    --font-titles: 'Belleza', 'Times New Roman', serif;
    --font-text: 'Raleway', 'Times New Roman', serif;
    --font-button: 'Bree Serif', serif;

    --input-box-shadow-parameters: 0px 5px 20px -15px rgba(0, 0, 0, 0.6);
}

body {
    background: var(--color-independence);
    font-family: var(--font-text);
    font-size: 16px;
    font-variant: normal;
    font-weight: normal;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-titles);
}

strong {
    font-weight: 700;
}

.text-champagne {
    color: var(--color-deep-champagne);
}


/**
* section__headline contains our first impression to user
* this means that it's our container to expert image and 
* lead email form
*/
#section__headline {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
}

#section__headline_left_side {
    display: block;
    position: relative;
    height: 100%;
    min-width: 45%;
    content: '';
    background: linear-gradient(0deg, rgba(60, 63, 93, 0.65), rgba(60, 63, 93, 0.65)), url('https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80') no-repeat center center;
    background-blend-mode: color, normal;
    background-size: cover;
}

#section__headline_right_side {
    padding: 15px 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#section__headline_right_side h1 {
    color: var(--color-beige);
    font-size: 2.5em;
    line-height: 85%;
    margin-bottom: 15px;
}

#section__headline_right_side h2 {
    color: var(--color-beige);
    font-size: 1.4em;
}

#headline__right_youtube_container {
    display: flex;
    flex-direction: row;
    width: max-content;
}

#headline__right_youtube_container div {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    font-size: 0.8em;
}

#headline__right_youtube_container div span {
    color: var(--color-beige);
}

#headline__right_main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
}

#headline__right_form_container {
    margin: 35px auto 0 auto;
    display: flex;
    flex-direction: column;
    background: var(--color-beige);
    border-radius: 15px;
    padding: 20px 30px 30px 30px;
    font-family: var(--font-button);
    color: var(--color-independence);
    max-width: 450px;
}

#headline__right_form_container h3 {
    font-family: var(--font-button);
    line-height: 2em;
    font-size: 1.3em;
    text-align: center;
}

#headline__right_form_container label {
    font-size: 0.9em;
    position: relative;
    z-index: 1;
    top: 2em;
    left: 10px;
}

#headline__right_form_container input {
    text-indent: 10px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px -15px rgba(0, 0, 0, 0.6);
    border: 1px solid #F4F1DC;
    line-height: 3em;
    width: 100%;
    position: relative;
    font-family: var(--font-button);
}

#headline__right_form_container form button {
    background: var(--color-sinopia);
    color: var(--color-beige);
    font-family: var(--font-button);
    border-radius: 8px;
    margin: 15px auto;
    box-shadow: 0px 2px 4px rgba(206, 75, 38, 0.4);
    border: 1px solid var(--color-sinopia);
    line-height: 3em;
    text-align: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-size: 1em;
}

#headline__right_form_container form button:hover {
    background: var(--color-deep-champagne);
    color: var(--color-sinopia);
}