/**
* This is the main CSS file. All implementations should be done here.
* 
*/

/** Variables section declaration */
:root {
    --color-beige: #F4F1DC;
    --color-sinopia: #CE4B26;
    --color-independence: #3C3F5D;
    --color-green-sheen: #7FB39A;
    --color-deep-champagne: #F2CB8D;

    --font-titles: 'Belleza', 'Times New Roman', serif;
    --font-text: 'Raleway', 'Times New Roman', serif;
    --font-button: 'Bree Serif', serif;

    --input-box-shadow-parameters: 0px 5px 20px -15px rgba(0, 0, 0, 0.6);
}

