/* General style */

@import 'variables.css';
/* Callout section declarations */

body {
    overflow-x: hidden;
}

section#callout-container {
    display: flex;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    position: relative;
    background: var(--color-independence);
    background-blend-mode: color;
    z-index: 0;
}

#callout-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color-independence) url('/assets/images/bruna_photos/headline_background.JPG') center center / cover;
    background-blend-mode: overlay;
    z-index: -1;
    opacity: 25%;
}

section#callout-container article :not(:last-child):not(div) {
    margin-bottom: 20px;
}

section#callout-container article h1 {
    font-size: 3rem;
    line-height: 100%;
    color: var(--color-beige);
    grid-area: title;
}

section#callout-container article p {
    font-size: 1em;
    color: var(--color-beige);
    box-sizing: border-box;
    padding-top: 20px;
    position: relative;
    grid-area: subtitle;
}

section#callout-container article p::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, var(--color-sinopia) 0%, var(--color-deep-champagne) 20%);
    left: 0;
    top: -6px;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

section#callout-container article button {
    line-height: 3em;
    font-size: 1.2em;
}

.iframe-container-width {
    max-width: 700px;
}

#iframe-video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    grid-area: video;
    box-shadow: 0px 10px 25px -15px #010000;
}

#iframe-video-container iframe, #iframe-video-container object, #iframe-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#iframe-video-container .ytp-impression-link {
    display: none !important;
}

/* Here we'll begin targets section */

section#targets-wrapper {
    display: flex;
    padding: 0;
    box-sizing: border-box;
}

section#targets-wrapper article {
    width: 100%;
}

.section-title {
    color: var(--color-beige);
    font-size: 3em;
    font-variant: all-small-caps;
    text-align: center;
    box-sizing: border-box;
    padding: 0.5em 0.5em;
    margin-bottom: 0.5em;
}

#targets-wrapper .target-item {
    width: 100%;
    box-sizing: border-box;
    padding: 2em 20px;
    color: #021b0f;
    font-weight: bold;
    margin: -1px 0;
    transition: all 0.4s ease;
    background: #d3e2db url(https://api.iconify.design/whh:law.svg?color=%23021b0f40&rotate=90deg) no-repeat -0.3em 0.2em / contain;
}

#targets-wrapper .target-item:hover {
    background-image: url(https://api.iconify.design/whh:law.svg?color=%23021b0f90&rotate=90deg);
}

.targets-container {
    display: flex;
    flex-direction: column;
}

/* Modules wrapper  */

section#modules-wrapper {
    padding: 1em 0.5em;
    box-sizing: border-box;
}

section#modules-wrapper article {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--color-beige);
    border-radius: 8px;
    padding: 25px 35px;
}

section#modules-wrapper article p {
    line-height: 150%;
    margin-top: 0.5em;
}

.module-title {
    display: flex;
    font-size: 1.4em;
    flex-direction: column;
    align-items: baseline;
    font-weight: bold;
    color: var(--color-independence);
    position: relative;
}

.module-title::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 0;
    width: 15px;
    height: 30px;
    border-radius: 12px;
    background: var(--color-independence);
    overflow-x: hidden;
    box-shadow: 2px 2px 10px -4px var(--color-independence);
}

.module-title small {
    font-weight: normal;
    position: relative;
    margin-top: 5px;
    padding-left: 1.4em;
    font-size: 0.75em;
    vertical-align: baseline;
    margin-bottom: 10px;
}

.module-title small::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('/assets/images/icons/calendar.svg') no-repeat center center / contain;
    height: 1rem;
    width: 1.2rem;
    vertical-align: baseline;
}

/* Bonus section */

#bonus-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#bonus-wrapper .section-title {
    margin-bottom: 25px;
}

#bonus-items-container .bonus-item {
    box-sizing: border-box;
    color: var(--color-independence);
    padding: 3em 1.5em;
    margin: 0;
}

#bonus-items-container .bonus-item-0 {
    grid-area: bonus1;
    background-color: hsl(37deg 80% 70%);
}

#bonus-items-container .bonus-item-1 {
    grid-area: bonus2;
    background-color: hsl(37deg 80% 80%);
}

#bonus-items-container .bonus-item-2 {
    grid-area: bonus3;
    background-color: hsl(37deg 80% 90%);
    box-shadow: 0px 20px 20px -20px #222;
}

#bonus-items-container .bonus-item h2 {
    font-weight: bold;
    line-height: 120%;
    font-size: 1.5em;
    padding-top: 10px;
}

.bonus-item>div {
    padding: 0;
    position: relative;
    margin-bottom: 2em;
}

.bonus-item>div:after {
    position: absolute;
    content: '';
    width: 60%;
    height: 7px;
    border-radius: 0 50px 50px 0;
    display: block;
    bottom: 0;
    right: 0;
    background: var(--color-independence);
}

.bonus-price-tag {
    position: relative;
    display: flex;
    width: 60%;
    top: 5px;
    left: 1.5em;
    color: var(--color-independence);
    font-size: 1em;
    font-family: var(--font-button);
}

.bonus-price-tag::before {
    position: absolute;
    display: block;
    content: "";
    left: -1.5em;
    bottom: 0;
    width: 1em;
    height: 1em;
    background: url('https://api.iconify.design/entypo:price-tag.svg?color=%23CE4B26') no-repeat center center / contain;
}

.bonus-item ul {
    margin-top: 20px;
    margin-bottom: 20px
}

.bonus-item ul li {
    position: relative;
    left: 1.5em;
    color: black;
}

.bonus-item ul li::before {
    position: absolute;
    left: -1.5em;
    bottom: 0;
    background: url('https://api.iconify.design/entypo:add-to-list.svg?color=%233C3F5D') no-repeat top center / contain;
    content: '';
    width: 1em;
    height: 100%;
}

.bonus-item ul li {
    color: black;
}

.bonus-item ul li:not(:last-of-type) {
    margin-bottom: 10px;
}

/* Start divisor animated after bonus */

.wave-wrapper {
    content: "";
    position: relative;
    display: block;
    height: 8em;
    width: 100%;
    margin-top: -5px;
    z-index: -1;
    transform: rotateX(180deg);
}

.wave-wrapper .wave {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 300%;
    background-position: center;
    animation: wave;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#wave-2 {
    background-image: url('/assets/images/divisor/waves-blue-light.svg');
    background-position-x: -25%;
    animation-duration: 13s;
}

#wave-3 {
    background-image: url('/assets/images/divisor/waves-blue-lighten.svg');
    animation-duration: 20s;
}

/* Investiment section */

#investiment-badge-section {
    padding: 50px 40px;
    background: var(--color-beige);
    margin-top: 2em;
    position: relative;
    box-sizing: border-box;
}

#investiment-badge-section:after {
    z-index: 0;
    position: absolute;
    height: 70%;
    width: 100%;
    content: '';
    left: 1em;
    bottom: 1em;
    background: transparent url('/assets/images/icons/money.svg') no-repeat bottom left / contain;
    opacity: 0.2;
}

#investiment-badge {
    position: relative;
    z-index: 1;
}

#investiment-badge .section-title {
    font-size: 2em;
    font-weight: bold;
    color: var(--color-sinopia);
    line-height: 85%;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

#investiment-badge h2 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
    color: var(--color-beige);
    background: var(--color-independence);
    padding: 20px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 150%;
    font-family: var(--font-titles);
}

#investiment-badge>span {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

#investiment-badge #price_original {
    font-size: 1.2em;
    color: var(--color-sinopia);
    text-decoration: line-through;
}

#investiment-badge #price_discount {
    color: #597b6b;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
}

#investiment-badge #price_discount small {
    display: block;
    font-size: 0.7em;
    font-weight: normal;
}

#divisor-about {
    height: 4em;
    width: 100%;
    background: url('https://api.iconify.design/octicon:law-16.svg?color=%23FFF') no-repeat center center / contain;
    position: relative;
    margin-top: 50px;
    opacity: 0.4;
}

#section-faq {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto 5em auto;
}

#faq-items-wrapper {
    display: flex;
    flex-direction: column;
}

.faq-card:not(:last-of-type) {
    margin-bottom: 1em;
}

.faq-card {
    background: var(--color-beige);
    border-radius: 10px;
    padding: 1.5em 35px;
    cursor: pointer;
    box-shadow: 0 5px 21px -7px #222;
}

.faq-card .faq-question {
    font-size: 1.1rem;
    box-sizing: border-box;
    color: var(--color-sinopia);
}

.faq-card .faq-answer {
    font-size: 0.9rem;
    color: var(--color-independence);
    box-sizing: border-box;
}

.faq-question span {
    position: relative;
    padding-left: 2em;
    line-height: 2em;
    display: block;
}

.faq-question span::before {
    content: '';
    position: absolute;
    width: 1em;
    height: 100%;
    background: url('https://api.iconify.design/ls:sort.svg?color=%23CE4B26') no-repeat center center / contain;
    transform: scale(1) rotate(0deg);
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
}

.faq-card:hover .faq-question span::before {
    transform: scale(1) rotate(225deg);
}

.faq-opened:hover .faq-question span::before {
    transform: scale(1) rotate(-45deg);
}

.faq-opened .faq-question span::before {
    transition: all 0.5s ease-in-out;
    background: url('https://api.iconify.design/ls:small.svg?color=%23CE4B26') no-repeat center center / contain;
    transform: scale(1) rotate(-45deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.faq-answer span {
    line-height: 125%;
    position: relative;
    padding: 1em 0 1em 20px;
    box-sizing: border-box;
    display: block;
}

.faq-answer span::before {
    content: '';
    display: block;
    left: 7px;
    top: 5px;
    background: var(--color-sinopia);
    width: 4px;
    height: 90%;
    border-radius: 5px;
    position: absolute;
}

#disclaimer-badge {
    max-width: 700px;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    padding: 3em 2em;
    background: linear-gradient(90deg, rgba(206, 75, 38, 1) 0%, rgba(170, 54, 21, 1) 100%);
    color: var(--color-beige);
    box-shadow: 0 0px 30px -15px #222;
    text-align: center;
    position: relative;
}

#disclaimer-badge p {
    position: relative;
    z-index: 2;
    max-width: 450px;
    margin: 0 auto 1em auto;
}

#disclaimer-badge::after {
    background: url('https://api.iconify.design/eva:alert-circle-fill.svg?color=rgba(170%2C54%2C21%2C1)') no-repeat left center / contain;
    content: '';
    position: absolute;
    width: 50%;
    height: 80%;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
}

#disclaimer-badge .first {
    font-family: var(--font-titles);
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight: bold;
}

#disclaimer-badge .second {
    font-family: var(--font-text);
    font-weight: normal;
}

/* Mobile screens */

@media screen and (max-width: 768px) {
    #callout-container article {
        margin-top: 20px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    section#callout-container article h1 {
        font-size: 2.3rem;
    }
    #callout-container button {
        margin: 2em 0;
    }
    section#targets-wrapper article .target-item {
        background-position: right 0.2em;
    }
    section#targets-wrapper article .target-item.bg-target-0 {
        background-color: hsl(152, 21%, 86%);
    }
    section#targets-wrapper article .target-item.bg-target-1 {
        background-color: hsl(152, 21%, 76%);
    }
    section#targets-wrapper article .target-item.bg-target-2 {
        background-color: hsl(152, 21%, 66%);
    }
    section#section__about_instructor .about__container {
        border-radius: 0;
    }
    .faq-question span {
        line-height: 1em;
    }
}

/* Desktop screens */

@media screen and (min-width: 769px) {
    #disclaimer-badge p {
        border-radius: 15px;
    }
    .bonus-item>div:after {
        position: absolute;
        content: '';
        width: 70px;
        height: 20px;
        display: block;
        top: -25px;
        left: 0;
        background: var(--color-independence);
        border-radius: 10px;
        box-shadow: inset 2px 2px 6px -2px #222;
        transition: width 0.3s ease-in-out, left 0.4s ease-out;
    }
    .bonus-item:hover>div::after {
        left: 15%;
        width: 50%;
    }
    section#section__about_instructor {
        box-sizing: border-box;
    }
    section#section__about_instructor .img-container {
        max-width: 300px;
        margin: auto;
    }
    #modules-items-container {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 45% 45%;
        justify-content: space-evenly;
    }
    .targets-container {
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
    }
    section#targets-wrapper article .target-item {
        width: max-content;
        margin: 1em auto;
        padding: 2em 2em 2em 5em;
        font-weight: bold;
        color: var(--color-independence);
        border-radius: 25px;
        font-size: 1.3em;
    }
    #disclaimer_price {
        text-align: center;
        margin: 1em auto 0 auto;
        display: block;
        font-weight: bold;
        color: var(--color-beige);
        width: 80%;
        font-variant: all-small-caps;
    }
    #investiment-badge {
        display: grid;
        grid-template-areas: "title title title" ". oldprice ." ". newprice .";
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: unset;
    }
    #investiment-badge .section-title {
        margin-bottom: 2em;
    }
    #investiment-badge h1 {
        grid-area: title;
        text-align: center;
    }
    #investiment-badge h2 {
        grid-area: badge;
    }
    #investiment-badge #price_original {
        grid-area: oldprice;
        align-self: end;
    }
    #investiment-badge #price_discount {
        grid-area: newprice;
    }
    #bonus-wrapper #bonus-items-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: "bonus1 bonus2" "bonus3 bonus3";
    }
    #callout-container article {
        text-align: center;
        padding-bottom: 5em;
    }
    #callout-container article button {
        max-width: 700px;
        width: 100%;
    }
    .iframe-container-width {
        margin: 2em auto;
    }
}

@media screen and (min-width: 1200px) {
    #bonus-wrapper, #modules-items-container, .targets-container, #investiment-badge-section {
        margin-left: auto;
        margin-right: auto;
    }
    #bonus-wrapper, .targets-container, #investiment-badge-section {
        max-width: 1200px;
    }
    #modules-items-container {
        max-width: 1290px;
        grid-template-columns: repeat(2, 45%);
    }
    #investiment-badge-section {
        box-shadow: 0 20px 20px -20px #222;
    }
    .targets-container {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }
    #callout-container h1 {
        max-width: 1150px;
    }
    .iframe-container-width {
        max-width: 700px;
    }
}

@keyframes wave {
    0% {
        background-position-x: 10%;
    }
    50% {
        background-position-x: 60%;
    }
    100% {
        background-position-x: 10%;
    }
}